name: 'test'

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: rebase
  cancel-in-progress: true

jobs:
  rebase:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: check out repo for action code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: rebase
        uses: ./
        with:
          upstream: https://github.com/manjaro-contrib/action-rebase.git
          upstream-branch: test
